.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(43, 168, 199);
  text-align: center;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(226, 238, 237);
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 0.5em;
}

.navitem {
  margin-left: 1%;
}

a {
  color: white;
  text-decoration: none;
}

.btn {
  font-size: 1em;
  border: 0.1em solid white;
  border-radius: 0.5em;
  height: 3em;
  width: 8em;
  color: aliceblue;
  cursor: pointer;
  background-color: transparent;
}

.btn:hover {
  color: rgb(43, 168, 199);
  background-color: white;
}
